* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #faf9ff;
}

app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
}